@import "tailwindcss";



body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Animation delays for typing indicator */
.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}